services:
  ctfd:
    image: ctfd/ctfd:3.7.7
    user: root
    restart: always
    environment:
      - UPLOAD_FOLDER=/var/uploads
      - DATABASE_URL=mysql+pymysql://ctfd:ctfd@db/ctfd
      - REDIS_URL=redis://cache:6379
      - WORKERS=4
      - LOG_FOLDER=/var/log/CTFd
      - ACCESS_LOG=-
      - ERROR_LOG=-
      - REVERSE_PROXY=true
      - SECRET_KEY=nYJduG6M5V0gekK4Aw8W68loYC8CG6rA
    volumes:
      - ./data/CTFd/logs:/var/log/CTFd
      - ./data/CTFd/uploads:/var/uploads
    depends_on:
      - db
    networks:
      ctfd_internal:

  nginx:
    image: nginx:stable
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
      - 8000:8000
      - 8011:8011
    depends_on:
      - ctfd
    networks:
      default:
      ctfd_internal:
      chall_internal:

  db:
    image: mariadb:10.11
    restart: always
    environment:
      - MARIADB_ROOT_PASSWORD=ctfd
      - MARIADB_USER=ctfd
      - MARIADB_PASSWORD=ctfd
      - MARIADB_DATABASE=ctfd
      - MARIADB_AUTO_UPGRADE=1
    volumes:
      - ./data/mysql:/var/lib/mysql
    networks:
      ctfd_internal:
    command: [mysqld, --character-set-server=utf8mb4, --collation-server=utf8mb4_unicode_ci, --wait_timeout=28800, --log-warnings=0]

  cache:
    image: redis:4
    restart: always
    volumes:
    - ./data/redis:/data
    networks:
      ctfd_internal:

  apt_cache_ng:
    image: sameersbn/apt-cacher-ng:latest
    restart: always
    volumes:
      - ./data/apt-cache-ng:/var/cache/apt-cacher-ng
    ports:
      - 3142:3142
    networks:
      default:

  chall_web_1:
    build: ../chall/web/1
    restart: always
    ports:
      - 8001:80
    networks:
      default:

  chall_web_2:
    build: ../chall/web/2
    restart: always
    ports:
      - 8002:80
    networks:
      default:

  chall_web_3:
    build: ../chall/web/3
    restart: always
    ports:
      - 8003:8080
    networks:
      default:

  chall_web_4:
    build: ../chall/web/4
    restart: always
    ports:
      - 8004:8080
    networks:
      default:

  chall_web_5:
    build: ../chall/web/5
    restart: always
    ports:
      - 8005:8080
    networks:
      default:

  chall_prog_hu1:
    build: ../chall/prog/hu1
    restart: always
    networks:
      chall_internal:

networks:
    default:
    ctfd_internal:
      internal: true
    chall_internal:
      internal: true
